.app-header {
  justify-content: space-between;
  //   align-items: baseline;
  padding-top: 10px;
  border-bottom: 1px solid black;

  .logo {
    font-weight: 800;
    font-size: 100px;
    line-height: 90px;
  }

  .btn {
    font-size: 20px;
  }
}
