.app-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;

  .header-container {
    justify-content: space-between;
    align-self: flex-start;

    padding: 10px 15px 0 15px;
    background-color: white;
    border-bottom: 1px solid black;

    .logo {
      font-weight: 800;
      font-size: 100px;
      line-height: 90px;
    }

    .btn {
      font-size: 20px;
    }
  }
}
