@import "../../../assets/styles/styles";

.product-edit {
  justify-content: space-between;

  min-height: 85vh;
  align-items: center;
  padding: 0 5rem;

  .edit-form {
    flex-direction: column;
    justify-content: center;
    width: 50%;

    background-color: $background1;
    box-shadow: 0 0 5px 0px #615d5d47;
    box-shadow: 0 0 0 black;
    padding: 1rem;
    border-radius: 8px;

    label:not(.size-label) {
      display: flex;
      border-bottom: 1px solid black;
      padding: 0.5rem;
      margin-bottom: 1rem;

      h2 {
        margin-right: 1rem;
      }

      input {
        flex-grow: 1;
        background-color: lightblue;
      }
    }

    .clr-form {
      .clrs-form-container {
        flex-direction: column;
        // justify-content: space-between;
        // align-items: center;

        .add-color,
        .color-info {
          display: flex;
          // flex-direction: column;

          padding: 1rem;
          border: 1px solid black;
          margin: 1rem;
          // flex-direction: column;
        }
      }
    }
  }
}
.sale-form {
  box-shadow: 0 0 3px 0px red;
  border-radius: 8px;
  padding: 1rem;
}

.obj {
  width: 80%;
  background-color: lightcoral;
}
