<section class="product-edit flex">
    <h2>{{product._id? 'Edit':'Add'}} Product</h2>
    <pre class="obj">
        {{product | json}}
        ....
        {{emptyClr | json}}
    </pre>
    <form (ngSubmit)="onSaveProduct()" class="edit-form flex">

        <label>
            <h2>Name:</h2>
            <input [(ngModel)]="product.name" type="text" name="name" placeholder="Product name">
        </label>

        <label>
            <h2>Price:</h2>
            <input [(ngModel)]="product.price" type="number" name="price" placeholder="Product price">
        </label>

        <label>
            <h2>Description:</h2>
            <input [(ngModel)]="product.desc" type="text" name="desc" placeholder="Product description">
        </label>

        <!-- TODO IMG ADD-->
        <div class="clr-form">
            <h2>Colors:</h2>
            <div class="clrs-form-container flex">
                <form class="add-color">
                    <input [(ngModel)]="emptyClr.clr" type="color" name="emptyClr">
                    <input [(ngModel)]="emptyClr.clrName" type="text" name="emptyClrName" placeholder="Color name">
                    <button>Add img</button>
                    <button>+</button>
                </form>
                <form class="color-info" *ngFor="let color of product.colors">
                    <input type="color" [(ngModel)]="color.clr" name="clr">
                    <input [(ngModel)]="color.clrName" type="text" name="clrName" placeholder="Color name">
                    <button>Add img</button>
                    <button>-</button>
                </form>
            </div>
        </div>


        <div class="category-info">
            <label>
                <h2>Main category: </h2>
                <select multiple>
                    <option value="">Main category</option>
                    <option value="" *ngFor="let category of categories | keyvalue">{{category.key}}</option>
                </select>
            </label>
            <label *ngIf="product.category">
                <h2>sub category:</h2>
                <select *ngFor="let category of product.category | keyvalue">
                    <option value="">{{category.key}}</option>
                    <!-- <option value="" *ngFor="let subCategory of categories.category | keyvalue">{{subCategory}}</option> -->
                </select>
            </label>
        </div>

        <label>
            <h2>Sizes:</h2>
            <input type="text" placeholder="hh">
        </label>

        <form class="sale-form">
            {{product.saleInfo | json}}
            <label>
                <h2>In sale ?</h2>
                <input type="checkbox" [(ngModel)]="product.saleInfo.isInSale" name="sale">
            </label>
            <label>
                <h2>Sale price: </h2>
                <input type="number" [(ngModel)]="product.saleInfo.salePrice" name="salePrice">
            </label>
            <label>
                <h2>Sale type :</h2>
                <select>
                    <option value="">Sale type</option>
                    <option value="">types</option>
                </select>
            </label>
        </form>



    </form>
</section>