<section class="product-details">
    <div class="navigation flex">
        <div>
            <a>home</a> / <a>boys</a> / <a>pants</a> / <a>{{product.name}}</a>
        </div>
        <div>
            <a>prev </a>
            <a>list </a>
            <a>next </a>
        </div>
    </div>
    <div class="product flex">
        <div class="info">
            <h1>{{product.name}}</h1>
            <h1>{{product.price}}$</h1>
            <div class="id">{{product._id}}</div>
            <form>
                <div class="colors">colors: </div>
                <div class="sizes">sizes: {{product.sizes}}</div>
            </form>
        </div>
        <img [src]="product.img" alt="">
    </div>
</section>