<section class="product-details">
    <div class="navigation">
        <div>
            <button>prev</button>
            <button>list</button>
            <button>next</button>
        </div>
        <div>
            <p>home / woman / skirts / peoduct name </p>
        </div>
    </div>
    <div class="product">
        <img [src]="product.img" alt="">
        <div class="info">
            <h1>{{product.name}}</h1>
            <h2>{{product.price}}</h2>
            <h3>{{product._id}}</h3>
        </div>
    </div>
</section>