@import "../../../styles.scss";

.product-filter {
  justify-content: center;
  box-shadow: -3px 1px 3px 0px rgb(0 0 0 / 32%);
  font-size: 20px;
  text-transform: capitalize;

  .category-container {
    cursor: pointer;
    position: relative;
    padding: 1rem 10px;

    &:hover {
      .category-modal {
        transform: scaleY(1);
      }
    }

    a.active,
    a:hover {
      color: $main-clr;
    }

    .category-modal {
      justify-content: space-between;
      position: absolute;
      top: 52px;
      height: 350px;
      left: -390px;
      width: 900px;

      z-index: 100;
      transform: scaleY(0);
      background-color: white;
      transition: 0.3s;
      box-shadow: 0 0 1px 1px #80808059;

      &:hover {
        transform: scaleY(1);
      }

      img {
        width: 50%;
        object-fit: cover;
      }

      .subcategory {
        flex-direction: column;
        padding: 10px;

        a {
          margin-bottom: 1rem;
        }

        .main-category {
          font-weight: 700;
        }
      }
    }
  }
}
