@import "../../../assets/styles/styles";
.app-footer {
  //   height: 500px;

  .sign-in {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > * {
      margin-bottom: 2rem;
    }

    img {
      height: 30px;
      margin-top: 3rem;
    }

    p {
      font-size: 20px;
    }

    .btn {
      background-color: $clr1;
      color: $clr2;
      transition: $trans;
      padding: 14px 28px;

      &:hover {
        color: $main-clr;
      }
    }
  }

  .social-container {
    justify-content: center;
    align-items: center;

    .social {
      width: 40px;
      height: 40px;
      margin: rem(5px);

      &.youtube {
        width: 55px;
      }

      img {
        &:hover {
          transition: $trans;
          cursor: pointer;
          filter: $svg-main-clr;
        }
      }
    }
  }
}
