@import "../../../assets/styles/styles";

.product-preview {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  background-color: $background1;
  border-radius: 5px;
  padding: 5px;

  .img {
    height: 200px;
    // width: 70%;
    width: 100%;
    margin-bottom: 15px;

    img {
      border-radius: 5px;
      height: 100%;
      cursor: pointer;
      object-fit: cover;
    }
  }

  .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > * {
      margin-bottom: 5px;
    }

    .name:hover {
      color: $main-clr;
      cursor: pointer;
      transition: $trans;
    }

    .price {
      font-weight: 700;
    }

    p {
      color: rgb(143, 143, 143);
    }
  }
}
